
/* Variables */
:root{

    --green-color:#7ACC2D;
    --green-color-over:#5e9e22;

}




/* code */
html,body{
    padding:0px;
    margin:0px;
    font-size: 12px;
    font-family: Helvetica;
}
nav{
    background: var(--green-color);
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav ul{
    list-style: none;
    display: flex;
}
nav li{
    padding-left:20px; 
}

nav li a{
    color: black;
    text-decoration: none;
}

nav li a:hover{ /*acciones de un boton*/
color:white;
}  

/*-------------------------Main Seccion-------------------------*/

.Main-Seccion{
    padding: 15%;
    text-align: center;
}

.products{
    background-image: url("../imgs/curve.png");
    background-size: cover; /*cover para que ocupe el 100 del contenedor*/
    background-position: center top;
    padding: 20%;
    display: flex;
}
.product{
    padding: 10px;
    margin-top: -240px;
}
.img_content{
    text-align: center;
}

.product .content{
   background-color: white;
    padding: 10px;
    box-shadow: 0 0 2px #c1bcbc;
}

.main-button{
    background-color:var(--green-color);
    width: 100%;
    padding: 10px;
    font-size: 12px;
    color: white;
    border: 0;
    cursor: pointer;
    border-radius:2px; 
}
.main-button:hover{
    background-color: var(--green-color-over);
    
}
/* ---------------------------Cards----------------------------------------- */

.cards{
    padding: 10%;
    display: flex;
    
    
}
.cards img{
    max-height: 100px
}
.card-content p{
    text-align: justify;
}
 .card-content{
    text-align: center;
    padding:20px;   
}
hr{
    border: 0; 
    height: 1px; 
    background: #c1bcbc;
    margin-top:50px;
    margin-bottom:50px;
}

.mencion{
    text-align: center;
    padding: 50px;
}

.cards-2 img{
    width: 100%;
}
.cards-2{

    display: flex;
    justify-content: center;

}
.cards-2 .card-content-2{
    text-align: center;
    box-shadow: 0 0 4px #c1bcbc;
    
}
/* -----------------------------footer----------------------------- */

footer{
    background: gray;
    color: white;
    margin-top:100px; 
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}