.contenedor{
    width: 500px;
    height: 200px;
    background: #fff;
    padding: 10px;
    border: 10px solid #2C3E50;
    margin: 20px;
    display: flex;
    /*Justify-content: flexstart|flex-end|center|space-around|space-between
        decidir la posicion y distribuir espacion libres
        flex-end se posicionan a la derecha sin alterar el orden
        center centra el contenido
        space-around los elemento los distribuye por todo el ancho
        space-between lo mismo pero al incio y al final no hay margenes
        
    */
    
}

.elemento{
    color: #fff;
    margin: 5px;
    width: 150px;
    height: 50px;
    background: #E67E22;
    text-align: center;
}